/* Global */
@import "./global/reset.css";
@import "./global/typography.css";

/* Components */
@import "./components/html.css";
@import "./components/css.css";
@import "./components/js.css";
@import "./components/button.css";

/* Lessons */
@import "./lessons/border.css";
@import "./lessons/button-show-hide.css";
@import "./lessons/modal.css";
@import "./lessons/keyboard.css";

header {
  background: black;
  color: white;
  padding-inline: 7px;
}

body {
  max-width: 1519px;
  margin: 0 auto;
}

main {
  padding: 10px;
}

nav {
  padding: 10px;
  background: lightgray;
}

li {
  list-style: none;
}

kbd {
  border-radius: 5px;
}

.file {
  font-family: 'Courier New', Courier, monospace , serif;
  text-decoration: underline;
  font-size: .8rem;
}

.note {
  background-color: lightgray;
  padding: 5px 7px;
  border-radius: 5px;
}

.line-break {
  display: flex;
  flex-direction: column;
  gap: 1.125rem;
}

.flex {
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
}

.grid-2 {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  gap: 8px;
}

.grid-3 {
  display: grid;
  grid-template-columns: repeat(3, 33%);
  gap: 8px;
}

.grid-center {
  display: grid;
  place-items: center;
}

@media (width < 1000px) {
  .grid-2,
  .grid-3 {
    grid-template-columns: 100%;
  }
}
