.solid,
.dotted,
.dashed {
  border-width: 2px;
  border-color: black;
  height: fit-content;
  padding: 10px;
}

.solid {
  border-style: solid;
}

.dotted {
  border-style: dotted;
}

.dashed {
  border-style: dashed;
}
