.border-background {
  background: black;
  width: 100%;
  height: 300px;
  z-index: -1;
  display: grid;
  place-items: center;
  border-radius: 10px;
  margin: 0 auto;
}

#border-animation .card {
  color: white;
}

#border-animation .card p {
  color: lightgray;
}

.card {
  margin: 0 auto;
  padding: 2em;
  width: 250px;
  background: #1c1f2b;
  text-align: center;
  border-radius: 5px;
  position: relative;
}

.card::after,
.card::before {
  content: "";
  width: 100%;
  height: 100%;
  background-image: conic-gradient(
    from var(--angle),
    transparent 30%,
    blue, green, red
  );
  z-index: -1;
  padding: 3px;
  border-radius: 5px;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: 5s spin linear infinite;
}

.card::before {
  filter: blur(1.5rem);
  opacity: .8;
}

@property --angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

@keyframes spin {
  from {
    --angle: 0deg;
  }
  to {
    --angle: 360deg;
  }
}