@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Sixtyfour+Convergence&display=swap');

h1,
h2,
h3,
h4,
h5,
h6,
p,
li,
a,
span,
abbr,
input {
  font-family: "Roboto", sans-serif;
}

h1 {
  font-size: clamp(2rem, 5vw, 3rem); /* 32px - 48px */
  line-height: clamp(1.2, 1.25, 1.3);
}

h2 {
  font-size: clamp(1.75rem, 4vw, 2.25rem); /* 28px - 36px */
  line-height: clamp(1.2, 1.3, 1.35);
}

h3 {
  font-size: clamp(1.5rem, 3.5vw, 1.875rem); /* 24px - 30px */
  line-height: clamp(1.2, 1.3, 1.4);
}

h4 {
  font-size: clamp(1.25rem, 3vw, 1.5rem); /* 20px - 24px */
  line-height: clamp(1.25, 1.35, 1.4);
}

p,
li,
a {
  font-size: clamp(1rem, 2.5vw, 1.125rem); /* 16px - 18px */
  line-height: clamp(1.4, 1.6, 1.8);
}
