.css p {
  background-color: #2965F1;
  color: white;
  font-size: .8rem;
  font-weight: bold;
  border-radius: 5px 5px 0 0;
  padding: 3px 10px 0 10px;
  width: fit-content;
}

.css-code {
  border-radius: 0 5px 5px 5px;
  background: #000;
  color: white;
  overflow: hidden;
  padding-inline: 10px;
  overflow-x: auto;
  max-height: 250px;
  overflow-y: auto;
}
