.js p {
  background-color: #EFD81D;
  color: white;
  font-size: 0.8rem;
  font-weight: bold;
  border-radius: 5px 5px 0 0;
  padding: 3px 10px 0 10px;
  width: fit-content;
}

.js-code {
  border-radius: 0 5px 5px 5px;
  background: #1d1e22;
  color: white;
  overflow: hidden;
  padding-inline: 10px;
  overflow-x: auto;
  max-height: 250px;
  overflow-y: auto;
}
